<div class="container">
  <form #f="ngForm">

    <div class="title">
      <label for="title">Title</label>
      <br>
      <textarea
      appTextareaAutoGrow
      type="text"
      name="title"
      id="title"
      class="title"
      ngModel
      placeholder = "Title..."
      #titleInput>
      </textarea>
    </div>

    <div class="content">
      <label for="content">Content</label>
      <br>
      <textarea
      appTextareaAutoGrow
      type="text"
      name="body"
      id="body"
      ngModel
      placeholder = "Your note..."
      #bodyInput>
    </textarea>
    </div>

    <button class="cancel-button" routerLink="../">Cancel</button>
    <button class="save-button" (click)="addNote()" routerLink="../">Save</button>

  </form>
</div>
